@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.6em;
}

.navbar{
    overflow: auto;
    min-height: 100px;
    background: #202020;
    color: #fff;
    font-size: 18px;
    border: 0;
    border-radius: 0;
}

.navbar h1{
    margin: 0 0 0 0;
    padding: 0;
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.navbar a{
    color: #fff;
}

.navbar .nav-item .nav-link:hover{
    color: #CB3317;
}

.navbar .navbar-brand:hover{
    color: #fff;
}

.navbar ul{
    margin-top: 5px;
}

.navbar .nav-item .active{
    color: #CB3317;
}

.navbar-nav .show > .nav-link, .navbar-nav .active > .nav-link, .navbar-nav .nav-link.show, .navbar-nav .nav-link.active {
    color: #CB3317;
}

.navbar form input[type='text']{
    border-radius: 0;
    height: 38px;
}

.navbar form button{
    border: 0;
    height: 38px;
    margin-top: 0;
    border-radius: 0;
    margin-left: -8px;
}

.navbar form .form-control{
    background: #f4f4f4;
    border: 1px solid #eee;
}

.btn{
    border: none;
    border-radius: 0;
}

.btn-primary{
    background-color: #CB3317;
}

.btn-secondary{
    background-color: #CB3317;
}

.btn:hover{
    background-color: #eee;
    color: #202020;
}

.post{

    background-color: white;
    -webkit-box-shadow: 3px 6px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 3px 6px 5px 0px rgba(0,0,0,0.35);
    box-shadow: 3px 6px 5px 0px rgba(0,0,0,0.35);
}

.post-content{
    padding: 20px;
    box-sizing: border-box;
    color: #5a5a5a;
}

.post img{
    width: 100%;
}

.post h3{
    margin: 0;
    padding: 0;
    
}

.post small{
    display: block;
    margin: 10px 0;
    padding: 5px 10px;
}